<p>
    <b>Name: </b><span> @_currentContact.FirstName @_currentContact.LastName</span><br>
    <b>Email: </b><i>@_currentContact.Email</i><br>

    @if (dispayInfo)
    {
        <span>The Email of @_currentContact.FirstName @_currentContact.LastName is @_currentContact.Email </span> <br>
    }
    <button @onclick="@(() => { dispayInfo = !dispayInfo; })">Display Info</button><br/>
    <button @onclick="@(() => DeleteCurrentContact.InvokeAsync(_currentContact))">Delete Contact</button>
</p>

@code {
    [Parameter]
    public Contact _currentContact { get; set; }

    [Parameter]
    public EventCallback<Contact> DeleteCurrentContact { get; set; }

    private bool dispayInfo = true;

}