<p>
    <b>Name: </b><span> @MyContact.FirstName @MyContact.LastName</span><br>
    <b>Email: </b><i>@MyContact.Email</i><br>

    @if (dispayInfo)
    {
        <span>The Email of @MyContact.FirstName @MyContact.LastName is @MyContact.Email </span> <br>       
    }
    <button onclick="@(() => { dispayInfo = !dispayInfo; })">Dispaly Info</button>
</p>

@code{   
    [Parameter]
    public Contact MyContact { get; set; }

    private bool dispayInfo = true;

}